.hero_banner{
    background-image:url(../../../images/about-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    opacity: 0.8;
}

.heading {
    padding-top: 170px;
}

@media (min-width: 769px) and (max-width: 968px) {
    .hero_banner {height: 300px;}
    .heading {
        padding-top: 100px;
        font-size: 32px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .hero_banner {height: 230px;}
    .heading {
        padding-top: 80px;
        font-size: 28px;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    .hero_banner {height:155px;}
    .heading {
        padding-top: 50px;
        font-size: 20px;
    }
}



  